<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chitkara University</title>
    <link rel="stylesheet"  href="static/style.css">
    <link rel="icon" href="static/cu logo.png">
    <style>
        body{
            width:99%;
            font-family: "Lato", sans-serif;
            box-sizing: border-box;
            background-image: radial-gradient(rgba(0, 215, 104, 0.5),rgb(21, 255, 0,0.5),rgb(100, 167, 250,0.5),rgb(38, 255, 0,0.5));
        }
        a:link{
            color: white;
        }
        a:visited{
            color: white;
        }
    </style>
</head>
<body>
    <div id="mySidenav" class="sidenav">
        <a href="#" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="index">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        <a href="/login">Log In</a>
        <a href="/register">Register</a>
    </div>
    <div style="float: left;margin-bottom: 10px;">
        <span style="font-size:30px;cursor:pointer"  onclick="openNav()">&#9776; MENU</span>
    </div>
    <div style="float:right;">
        <img src="/static/cu-logo-mob.JPEG" alt="" style="display: inline;width: 70%; ">
    </div>
    
    <div >
        <img src="/static/bg.jpg" style="width: 100%;">
    </div>
    <div class="flex" style="width: 100%;">
        <div class="flex60" style="width:100%">
            <h1 ><img src="/static/cu logo.png" style="width: 40px;height: 40px;margin-right: 3px;">
                EXPLORE YOUR POTENTIAL
                WITH CHITKARA UNIVERSITY
            </h1>
            <p style="font-size: 20px;">Located 30 kms from Chandigarh, Chitkara University offers a world of learning that will help you reach your goals. 
                Choose from our varied industry endorsed programs. 
                Learn from an outstanding faculty at our state-of-the-art teaching facilities. 
                Explore unlimited opportunities to get placed with one of the 1500+ campus recruiters and meet other students with dreams as big as yours.
            </p>
            <P style="font-size: 20px;" >A healthy number of foreign students regularly study at the campus and number of them also visit on exchange programs, adding to the cultural diversity found on campus. The University in Punjab provides several opportunities for local students, too, to visit foreign universities and institutions on such exchange programs, thereby helping them receive invaluable international exposure.</P>
            <p style="font-size: 20px;">The University has at the centre of its philosophical core the commitment to excellence in education. It is the strong academic heritage of the University, and such firmness on matters of principles that has seen it grow from strength to strength in such a short span of time. </p>
            <h2>VISION</h2>
            <p style="font-size: 20px;">To be a globally recognized organization promoting academic excellence through interdisciplinary applied research and to expand realms of knowledge through innovation.</p>
            <h2>MISSION</h2>
            <ul style="font-size: 20px;">
                <li>To carry out the academic processes in accordance with global standards through active teacher-student-industry participation.</li>
                <li>To promote research, innovation and entrepreneurship in collaboration with industry, research laboratories and academic institutions of global repute.</li>
                <li>To inculcate high moral, ethical and professional values amongst our students, faculty & staff.</li>
                <li>To contribute in building skillful society.</li>
            </ul>
            <h2>OUR LOGO</h2>
            <img src="/static/13.jpeg" alt="Chitkara logo">
            <p style="font-size: 20px;">Our logo depicts the arrows in soaring heights, promising everlasting progress. It also illustrates the interlinking of our key stakeholders namely Students, Parents, Faculty, Alumni, Industry and Society as a whole, working in synergy towards a common goal which is the “Everlasting Success of Each Chitkara Student and creating them as responsible citizens”. The colour Red denotes Energy & Passion to “Explore Our Potential”.</p>
            <img style="width:100%" src="/static/14.jpg">
            <h2><b>VALUES</b></h2>
            <P style="font-size: 20px;">Chitkara University has defined certain values for those who are directly or indirectly involved in the working of the University.</P>
            <h3>The values identified and adopted by Chitkara University are as follows:</h3>
            <ul style="font-size: 20px;">
                <li><b>Care</b> – For us, welfare of our students and employees is our top priority.</li>
                <li><b>Supportive</b> – We are supportive. We go an extra mile to support our stakeholders i.e. students, faculty member, parents, government and industry.</li>
                <li><b>Academic Excellence and Learning</b> – We value excellence in learning by adopting suitable pedagogy and ensuring that our faculty remains in touch with the latest in the field. We also ensure that our students are able to compete at global level.</li>
                <li><b>Quality</b> – We hold a strong commitment to high standards in all aspects of our educational activities, learning outcomes and support services. We seek to continuously strengthen the overall effectiveness of our operations.</li>
                <li><b>Faith</b> – We treasure our ethos and our charter.</li>
                <li><b>Accountability</b> – We are accountable to all the stakeholders and the general public for fulfilling our mission in an appropriate manner by openly assessing the operations.</li>
                <li><b>Access to Underprivileged</b> – We aim to promote social mobility by creating opportunities for the underprivileged, to gain access to our educational system. Hence, we hold a strong commitment to the inalienable right to their pursuit of happiness.</li>
                <li><b>Time Management</b> – We aim to train our people to manage time effectively so that the right time is allocated to the right activities and specific time slots to activities as per their importance.</li>
            </ul>
        </div>
        <div class="flex40" style="width:100%">
            <div style="padding: 1em;border: 5px solid rgba(0, 0, 0, 0.426);">
                <img src="https://www.chitkara.edu.in/wp-content/themes/chitkara/images/home-page/webp/Get-industry-Ready-from-day1.webp" > <span>Get Industry Ready</span>
                <p>We have an intense focus on making each and every graduate industry ready and in order to make sure that our students have access to latest technology, we have collaborated with major industries across sectors so our curriculum and innovation labs are in sync with latest industry trends.</p> 
            </div>
            <div style="padding: 1em;border: 5px solid rgba(0, 0, 0, 0.426);margin-top: 0.5em;"> 
                <img src="https://www.chitkara.edu.in/wp-content/themes/chitkara/images/home-page/webp/Explore-Passionately.webp">  <span>Explore Passionately</span>
                <p> Research isn't just an idea, it's a way of life at CURIN, which supports diverse programs, projects and centres with over 50 Cr in annual research funding. We offer state-of-the-art facilities, collaborative work environments and unparalleled experience solving real-world problems.</p> 
            </div>
        </div>
        
    </div>
    <div >
        <center><h1>OUR RECRUITERS</h1></center>
        <div class="flex2">

            <a href="https://www.adani.com/" class="flex3"> <img src="/static/./company/adani.png"  style="width: 200px;height: 100px;padding: 30px;"></a>
            <img src="/static/./company/adobe.png" class="flex3" style="width: 20%;height: 200px;padding: 30px;">
            <img src="/static/./company/amazon.png" class="flex3" style="width: 20%;height: 20%;padding: 30px;">
            <img src="/static/./company/birla.png" class="flex3" style="width: 20%;height: 20%;padding: 30px;">
            <img src="/static/./company/deloitte.png" class="flex3" style="width: 20%;height: 20%;padding: 50px;">
            <img src="/static/./company/dlf.png" class="flex3" style="width: 20%;height: 20%;padding: 30px;">
            <img src="/static/./company/ey.png" class="flex3" style="width: 150px;height: 100px;padding: 30px;">
            <img src="/static/./company/fortis.png" class="flex3" style="width: 20%;height: 20%;padding: 30px;">
            <img src="/static/./company/google.png" class="flex3" style="width: 20%;height: 20%;padding: 30px;">
            <img src="/static/./company/gsk.png" class="flex3" style="width: 20%;height: 20%;padding: 30px;">
            <img src="/static/./company/infosys.png" class="flex3" style="width: 20%;height: 20%;padding: 30px;">
        </div>
    </div>
    <div class="lis" style="display: flex;flex-direction: row;justify-content: center; background-color: black;color: white;padding:0.5em 1em 0em 1em">
        <div style="flex: 25">

            <div>
                <img src="https://www.chitkara.edu.in/wp-content/themes/chitkara/images/CU_logo-footer.png"
                    loading="lazy" alt="logo">
            </div>
            <div>
                <p>CHITKARA UNIVERSITY (PUNJAB)</p>
                <span>Chandigarh-Patiala National Highway <br> Punjab 140 401</span>
            </div>
            <div style="margin-bottom:25px;">
                <p>CHANDIGARH INFORMATION CENTRE</p>
                <span>SCO 160-161, Sector 9-C <br> Chandigarh 160 009</span>
            </div>
            <div>
                <a href="https://www.facebook.com/ChitkaraU">
                    <img src="https://www.chitkara.edu.in/wp-content/themes/chitkara/images/fa-brands_facebook-square.png"
                        alt="Icon"> </a>
                <a href="https://twitter.com/chitkarau"> <img
                        src="https://www.chitkara.edu.in/wp-content/themes/chitkara/images/ant-design_twitter-square-filled.png"
                        alt="Icon"> </a>
                <a href="https://www.linkedin.com/edu/school?id=43021"> <img
                        src="https://www.chitkara.edu.in/wp-content/themes/chitkara/images/cib_linkedin.png" alt="Icon">
                </a>
                <a href="https://www.instagram.com/chitkarau/"> <img
                        src="https://www.chitkara.edu.in/wp-content/themes/chitkara/images/ant-design_instagram-filled.png"
                        alt="Icon"> </a>
                <a href="https://youtube.com/chitkaraU"> <img
                        src="https://www.chitkara.edu.in/wp-content/themes/chitkara/images/entypo-social_youtube.png"
                        alt="Icon"> </a>
            </div>
        </div>
        <div  style="flex: 25;">

            <h4>ADMISSIONS</h4>
            <ul >
                <li><a href="https://www.chitkara.edu.in/admissions/">Downloadable Brochures</a></li>
                <li><a href="https://www.chitkara.edu.in/admissions/admission-helpline/">Important
                        Contact Numbers</a></li>
                <li><a href="https://www.chitkara.edu.in/admissions/availability-forms/">Application
                        Form Sale Outlets</a></li>
                <li><a href="https://www.chitkara.edu.in/admissions/admission-procedure/">Admission
                        Procedure</a></li>
                <li><a href="https://www.chitkara.edu.in/admissions/fees-structure/">Fee Structure</a>
                </li>
                <li><a href="https://www.chitkara.edu.in/admissions/international-students/">International
                        Students</a></li>
                <li><a href="https://www.chitkara.edu.in/admissions/downloadforms/">Downloadable Forms
                        &amp; Formats</a></li>
                <li><a href="https://www.chitkara.edu.in/admissions/frequently-asked-questions/">FAQ</a>
                </li>
            </ul>
        </div>

        <div style="flex: 25;">

            <h4>IMPORTANT INFO</h4>
            <ul>
                <li><a href="https://www.chitkara.edu.in/grievance-redressal/" target="blank">Grievance
                        Redressal</a></li>
                <li><a href="https://cuaqac.chitkara.edu.in/nirf.php" target="blank">NIRF Report</a>
                </li>
                <li><a href="http://nad.gov.in/" target="blank">National Academic Depository (NAD)</a>
                </li>
                <li><a href="https://www.chitkara.edu.in/nad-cell/" target="blank">University NAD
                        Cell</a></li>
                <li><a href="https://www.vidyalakshmi.co.in/" target="blank">www.vidyalakshmi.co.in</a>
                </li>
                <li><a href="https://www.abc.gov.in/" target="blank">Academic Bank of Credits (ABC)</a>
                </li>
                <li><a href="https://paym.chitkara.edu.in/student-verification/" target="blank">Request
                        for Educational Verification</a></li>
                <li><a href="https://www.chitkara.edu.in/rti/">RTI</a></li>
                <li><a href="https://www.chitkara.edu.in/agnipath-yojana/">Agnipath Yojana</a></li>
                <li><a href="https://scholarships.gov.in">Scholarship</a></li>
            </ul>

        </div>
        <div style="flex: 25;">

            <h4>EXPLORE</h4>
            <ul>
                <li><a href="https://www.chitkara.edu.in/chitkara-educational-trust">Chitkara
                        Educational Trust</a></li>
                <li><a href="https://www.chitkara.edu.in/overview/">Chitkara University, Punjab</a></li>
                <li><a href="https://www.chitkarauniversity.edu.in/" target="_blank">Chitkara
                        University, Himachal Pradesh</a></li>
                <li><a href="https://csh.chitkara.edu.in/" target="_blank">Chitkara School of
                        Hospitality with NCHMCT</a></li>
                <li><a href="https://www.chitkaraschool.in" target="_blank">Chitkara International
                        School</a></li>
                <li><a href="https://www.chitkara.edu.in/international-collaborations/">Office of
                        International Affairs</a></li>
                <li><a href="https://www.chitkara.edu.in/cas/">Career Advancement Services</a></li>
                <li><a href="https://www.chitkara.edu.in/can/" target="_blank">Chitkara Alumni
                        Association Network</a></li>
                <li><a href="https://www.chitkara.edu.in/osa/">Office of Students Affairs</a></li>
                <li><a href="https://www.chitkara.edu.in/sustainable-development-goals/">Report on
                        SDGs</a></li>
                <li><a href="https://www.chitkara.edu.in/donate/">Donate</a></li>
                <li><a href="https://www.chitkara.edu.in/skillverse/">Skillverse</a></li>
            </ul>
        </div>

    </div>
    <script>
        function openNav() {
          document.getElementById("mySidenav").style.width = "250px";
        }
        
        function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
        }
    </script>
</body>
</html>