<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chitkara University</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/cu logo.png">
    <style>
        body{
            box-sizing: border-box;
            background-image: radial-gradient(rgba(0, 215, 104, 0.5),rgb(21, 255, 0,0.5),rgb(100, 167, 250,0.5),rgb(38, 255, 0,0.5));
            
        }
        hr{    
            border-color: rgb(157, 17, 17);
            border-width: 4px;
            border-style: solid; /* You can use other border styles like dashed, dotted, etc. */
            margin: 10px 0; /* Adjust the margin as needed */
        } 
        a:link{
            color: white;
        }
        a:visited{
            color: white;
        }
    *{
        text-align: center;
    }
        
        
    </style>
</head>

<body>
    <div style="width: 100%;">
        <div id="mySidenav" class="sidenav">
            <a href="#" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="index">Home</a>
            <a href="/contact">Contact</a>
            <a href="/login">Log In</a>
            <a href="/register">Register</a>
        </div>
        <div style="float: left;margin-bottom: 10px;">
            <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; MENU</span>
        </div>
        <div style="float:right;">
            <img src="/static/cu-logo-mob.JPEG" alt="" style="display: inline;width: 70%; ">
        </div>


    

        <img src="static/15.jpg"  style="width: 100%;">
        <h1>CAMPUS <span>INFRASTRUCTURE</span></h1>
        <p style="font-size: 20px;">In order to achieve its ambition of being a world-class education provider, Chitkara
            University is committed to significant enhancement of its facilities and buildings, essential for world-class
            research and all-round development of students. The University has an extremely modern and state-of-the-art
            infrastructure that goes a long way in facilitating a number of services for the students as well as the staff
            members.</p>
        <h3 style="text-align: center;">AUDITORIUM</h3>
        <hr>
        <h2 style="text-align: center;">A PLATFORM FOR INTERFACE</h2>
        <P style="font-size: 20px;">The spacious, amphitheatre-style classrooms in the University provide the most conducive
            atmosphere for dynamic and focused discussions. They have been designed to bring together analysis with action
            and are augmented with integrated audio–visual teaching aids for lectures, presentation, etc. Special sessions
            and classes are also held on business etiquettes, negotiation skills, effective communication, leadership,
            teamwork and analytical skills</P>
            
        <img  src="static/16.jpg">
        <img src="static/17.jpg">
        <h2>LABORATORIES</h2>
        <hr>
        <p style="font-size: 20px;">High-tech laboratories having equipments with calibrations to ISO 9001-2000
            Certifications state of the art workshops and numerous work stations with licensed software play an important as
            part of your learning experience. Laboratories are fully equipped to meet the academic requirements as per the
            university curriculum. To name a few; MATLAB and Simulation & Computational labs in Electrical Engineering,
            Microprocessor & Micro Controller Lab with Keil software, Microelectronics Lab with Cadence software, VLSI with
            xilinx software, CADAENCE Lab, Embedded System Lab, DAEC Lab, Communication and Texas Instruments Lab and MVI
            Lab equipped with LabVIEW software in Electronics and Communication Engineering and CAD/CAM and Aauto Synch lab
            in Mechanical Engineering are have for carrying out different experiments. A Project Lab with ultra-modern
            facilities has also been established.</p>
        <h2>COMPUTING FACILITIES</h2>
        <hr>
        <h2>IMPARTING KNOWLEDGE IN THE MOST HI-TECH ENVIRONMENT</h2>
        <p style="font-size: 20px;">All Chitkara University campuses are inter-connected through a highly secure virtual
            private network, where personal computers (PC) are inter-connected to the Internet through broadband connection.
            All our campuses have state-of-the-art computer centres that provide computing facilities comprising of the
            latest computer machines linked to a wide range of software, communication and print services.
    
            Most campuses are fully wireless and students in many programs are provided with wireless laptops to help them
            access the Internet anytime, anywhere. Latest software. are used to enable work on data analysis, web
            technologies and software designing. The intranet enables close on-line interaction between faculty and students
            for online interaction.</p>
        <img src="static/18.jpg">
        <img src="static/19.jpg">
        <h3>LIBRARY FACILITIES</h3>
        <hr>
        <h2>THE LIBRARY SERVICES ARE THE CORNERSTONE OF THE EDUCATION SYSTEM AT CHITKARA UNIVERSITY. THE MISSION OF OUR
            LIBRARY SERVICES IS TO FACILITATE CREATION OF NEW KNOWLEDGE THROUGH ACQUISITION, ORGANIZATION AND DISSEMINATION
            OF KNOWLEDGE RESOURCES.</h2>
        <p style="font-size: 20px;">The libraries at each of the campuses have spacious reading halls, periodical centres,
            group discussion rooms and online database browsing areas.<br><br>
    
            The University libraries offer a wide range of materials in a variety of formats—from traditional books and
            serials to films, and multimedia and networked information from around the world. Highly skilled staff assists
            students to use the local collections and find information on specific topics.<br><br>
    
            Our libraries are a learning space where students are inspired to explore, research, and create. Our libraries
            are not only the places to think but also an informal work area where students gather to collaborate. The
            libraries have a collection of 1,07,718 books with 33,386 titles on various subjects including a large number of
            reference books covering atlases, biographies, dictionaries, encyclopedias, manuals, and yearbooks, etc. With an
            annual subscription to about 255 National and International print journals, 75,590 e-journals, 11,763
            e-magazines, 66,44,794 e-books, and 2,26,384 audio ebooks, libraries in Chitkara University provide precious
            print resources to the users. So far, research scholars have submitted 711 Masters and Doctoral theses to the
            central library. E copies of the Ph.D theses are regularly updated on the Shodhganga platform.<br><br>
    
            Regular subscription to databases and services like IEEE Xplore Digital Library, Knowledge Hub, DELNET, EBSCO,
            ProQuest ABI/INFORM Global, Bentham Science, Animal Simulator, Lexicomp, e-ShodhSindhu, Shodhganga membership,
            NPTEL, etc., enrich the overall knowledge bank of the library. Access to services like ProQuest, IEEE Xplore,
            and Bentham Sciences, etc., enable our staff and students to update on the subject of their interests. Extensive
            use of course contents developed by NPTEL by the students led the University to win the best New Local Chapter
            award.<br><br>
    
            For more information please visit the website library.chitkara.edu.in</p>
        <img style="width: 100%;" src="static/20.jpg">
        <h3 style="text-align: center;">CAFETERIA</h3>
        <h3 style="text-align: center;">WHAT YOU EAT IS WHAT YOU ARE</h3>
        <p style="font-size: 20px;">A healthy mind can only reside in a healthy body. Hence, all cafeterias have menus that
            are designed by a team of professional dieticians, and offer nutritious and wholesome food to ensure a
            well-balanced diet. Fresh fruit juices, milkshakes, ice creams sundaes and even midnight snacks are available in
            these cafeteria.</p>
        <img src="static/21.webp">
        <img src="static/22.webp">
        <img src="static/23.webp">
        <div class="lis" style="display: flex;flex-direction: row;justify-content: center; background-color: black;color: white;padding:0.5em 1em 0em 1em ">
            <div style="flex: 25">
    
                <div>
                    <img src="https://www.chitkara.edu.in/wp-content/themes/chitkara/images/CU_logo-footer.png"
                        loading="lazy" alt="logo">
                </div>
                <div>
                    <p>CHITKARA UNIVERSITY (PUNJAB)</p>
                    <span>Chandigarh-Patiala National Highway <br> Punjab 140 401</span>
                </div>
                <div style="margin-bottom:25px;">
                    <p>CHANDIGARH INFORMATION CENTRE</p>
                    <span>SCO 160-161, Sector 9-C <br> Chandigarh 160 009</span>
                </div>
                <div>
                    <a href="https://www.facebook.com/ChitkaraU">
                        <img src="https://www.chitkara.edu.in/wp-content/themes/chitkara/images/fa-brands_facebook-square.png"
                            alt="Icon"> </a>
                    <a href="https://twitter.com/chitkarau"> <img
                            src="https://www.chitkara.edu.in/wp-content/themes/chitkara/images/ant-design_twitter-square-filled.png"
                            alt="Icon"> </a>
                    <a href="https://www.linkedin.com/edu/school?id=43021"> <img
                            src="https://www.chitkara.edu.in/wp-content/themes/chitkara/images/cib_linkedin.png" alt="Icon">
                    </a>
                    <a href="https://www.instagram.com/chitkarau/"> <img
                            src="https://www.chitkara.edu.in/wp-content/themes/chitkara/images/ant-design_instagram-filled.png"
                            alt="Icon"> </a>
                    <a href="https://youtube.com/chitkaraU"> <img
                            src="https://www.chitkara.edu.in/wp-content/themes/chitkara/images/entypo-social_youtube.png"
                            alt="Icon"> </a>
                </div>
            </div>
            <div  style="flex: 25;">
    
                <h4>ADMISSIONS</h4>
                <ul >
                    <li><a href="https://www.chitkara.edu.in/admissions/">Downloadable Brochures</a></li>
                    <li><a href="https://www.chitkara.edu.in/admissions/admission-helpline/">Important
                            Contact Numbers</a></li>
                    <li><a href="https://www.chitkara.edu.in/admissions/availability-forms/">Application
                            Form Sale Outlets</a></li>
                    <li><a href="https://www.chitkara.edu.in/admissions/admission-procedure/">Admission
                            Procedure</a></li>
                    <li><a href="https://www.chitkara.edu.in/admissions/fees-structure/">Fee Structure</a>
                    </li>
                    <li><a href="https://www.chitkara.edu.in/admissions/international-students/">International
                            Students</a></li>
                    <li><a href="https://www.chitkara.edu.in/admissions/downloadforms/">Downloadable Forms
                            &amp; Formats</a></li>
                    <li><a href="https://www.chitkara.edu.in/admissions/frequently-asked-questions/">FAQ</a>
                    </li>
                </ul>
            </div>
    
            <div style="flex: 25;">
    
                <h4>IMPORTANT INFO</h4>
                <ul>
                    <li><a href="https://www.chitkara.edu.in/grievance-redressal/" target="blank">Grievance
                            Redressal</a></li>
                    <li><a href="https://cuaqac.chitkara.edu.in/nirf.php" target="blank">NIRF Report</a>
                    </li>
                    <li><a href="http://nad.gov.in/" target="blank">National Academic Depository (NAD)</a>
                    </li>
                    <li><a href="https://www.chitkara.edu.in/nad-cell/" target="blank">University NAD
                            Cell</a></li>
                    <li><a href="https://www.vidyalakshmi.co.in/" target="blank">www.vidyalakshmi.co.in</a>
                    </li>
                    <li><a href="https://www.abc.gov.in/" target="blank">Academic Bank of Credits (ABC)</a>
                    </li>
                    <li><a href="https://paym.chitkara.edu.in/student-verification/" target="blank">Request
                            for Educational Verification</a></li>
                    <li><a href="https://www.chitkara.edu.in/rti/">RTI</a></li>
                    <li><a href="https://www.chitkara.edu.in/agnipath-yojana/">Agnipath Yojana</a></li>
                    <li><a href="https://scholarships.gov.in">Scholarship</a></li>
                </ul>
    
            </div>
            <div style="flex: 25;">
    
                <h4>EXPLORE</h4>
                <ul>
                    <li><a href="https://www.chitkara.edu.in/chitkara-educational-trust">Chitkara
                            Educational Trust</a></li>
                    <li><a href="https://www.chitkara.edu.in/overview/">Chitkara University, Punjab</a></li>
                    <li><a href="https://www.chitkarauniversity.edu.in/" target="_blank">Chitkara
                            University, Himachal Pradesh</a></li>
                    <li><a href="https://csh.chitkara.edu.in/" target="_blank">Chitkara School of
                            Hospitality with NCHMCT</a></li>
                    <li><a href="https://www.chitkaraschool.in" target="_blank">Chitkara International
                            School</a></li>
                    <li><a href="https://www.chitkara.edu.in/international-collaborations/">Office of
                            International Affairs</a></li>
                    <li><a href="https://www.chitkara.edu.in/cas/">Career Advancement Services</a></li>
                    <li><a href="https://www.chitkara.edu.in/can/" target="_blank">Chitkara Alumni
                            Association Network</a></li>
                    <li><a href="https://www.chitkara.edu.in/osa/">Office of Students Affairs</a></li>
                    <li><a href="https://www.chitkara.edu.in/sustainable-development-goals/">Report on
                            SDGs</a></li>
                    <li><a href="https://www.chitkara.edu.in/donate/">Donate</a></li>
                    <li><a href="https://www.chitkara.edu.in/skillverse/">Skillverse</a></li>
                </ul>
            </div>
    
        </div>
        </div>
    
    
    
        </div>
    </div>


    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>
</body>

</html>