<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="box-sizing: border-box; ">
    {% for post in posts reversed %}
    <div style="background-color: rgb(198, 193, 193);height: 100%;width: 70rem;margin-left: 2rem;margin-right: 2rem;padding: 1rem 2rem 2rem 2rem;margin-top: 0.5rem; margin-bottom: 0.5rem;border-radius: 1rem;">
        <a href="/post/{{post.id}}" style="text-decoration: none;color: black;">

            <h2>{{post.title}}</h2>
            <h3>{{post.created_at}}</h3>
            <h4>{{post.body|truncatewords:20}}</h4>
            
        </a>
        </div>
    {% endfor %}
</body>
</html>